.headerContent{
  color: #202050;
  margin: 10px;
  align-content: center;
}

table{
  border: 1px inset #20205020;
  width: 30%;
  border-collapse: collapse;
}

tr{
  display: flex;
  justify-content: center;
}

td, th{
  flex: 1;
  text-align: center;
}

th{
  background-color: #b9c0d5;
  border-bottom: 1px solid #40407050;
}

button{
  margin: 5px;
}

button:hover{
  background-color: aqua;
}